.timeslidebody {
    background-color: #383A38;
    height: 100px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    min-width: 300px;
    cursor: all-scroll;
}

.date {
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
}

.player {
    display: flex;
    width: 85%;
    border-right: 1px solid rgb(116, 116, 116);
    border-left: 1px solid rgb(116, 116, 116);
    padding: 0 10px 0 10px;
    align-items: center;
}

.close {
    display: flex;
    flex-direction: column;
    width: 5%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.datepicker {
    position: absolute;
    left: 32.5%;
    bottom: 150px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 10px;
    background-color: #383A38;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 130px;
    cursor: all-scroll;
    z-index: 99;
}

.timeslidebodyMB {
    background-color: #383A38;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-width: 300px;
    cursor: all-scroll;
}