.account-logo img {
  width: 250px;
}

.dropdown-menu {
  font-size: 16px;
}

.sidebar {
  z-index: 1;
}

.header {
  z-index: 100;
}

.action-icon {
  padding: 0 20px 0 20px;
}

.sidebar-menu li.active {
  a {
    color: #000;
    background-color: #bcedff;
  }
  h5 {
    color: #000;
  }
}

.sidebar-menu li:hover {
  a {
    color: #000;
    background-color: #d3f0fa;
  }
  h5 {
    color: #000;
  }
}

.sidebar-overlay {
  z-index: 0;
}

.menu-title {
  color: $heading-color;
}

.nav-item {
  i {
    color: $heading-color;
  }
}
.page-title-box {
  h3 {
    color: $heading-color;
  }
}

.box-color {
  width: "36px";
  height: "20px";
  border-radius: "2px";
}
.footer-color {
  width: 200px;
  padding: 10px 10px 5px;
  box-sizing: initial;
  background: rgb(250 250 250);
  border-radius: 0px 0px 4px 4px;
  box-shadow: rgb(0 0 0 / 15%) 1px 1px 1px 0px, rgb(0 0 0 / 15%) 1px 1px 1px 0px,
    rgb(0 0 0 / 15%) 1px 8px 19px, rgb(0 0 0 / 15%) -1px 1px 1px 0px;
  border: "1px solid black";
  z-index: 0;
  margin-top: -3px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.butto {
  margin-bottom: 2%;
}