.account-logo img {
  width: 250px;
}

.dropdown-menu {
  font-size: 16px;
}

.sidebar {
  z-index: 1;
}

.header {
  z-index: 1;
}

.action-icon {
  padding: 0 20px 0 20px;
}

.sidebar-menu li.active {
  a {
    color: #000;
    background-color: #bcedff;
  }
  h5 {
    color: #000;
  }
}

.sidebar-menu li:hover {
  a {
    color: #000;
    background-color: #d3f0fa;
  }
  h5 {
    color: #000;
  }
}

.sidebar-overlay {
  z-index: 0;
}

.menu-title {
  color: $heading-color;
}

.nav-item {
  i {
    color: $heading-color;
  }
}
.page-title-box {
  h3 {
    color: $heading-color;
  }
}
