.bodycard {
  background: -webkit-radial-gradient(
    circle,
    rgb(15, 197, 230),
    rgb(0, 42, 97)
  );
  width: 100%;
  height: 100vh;
}

.cardform {
  background-color: #fff;
  width: 100%;
  height: 500px;
}

.flex-items-1 {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
