html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-wrapper-map {
  height: 100%;
  .page-wrapper-map {
    height: 100%;
    .container-fluid-map {
      height: 100%;
      //   padding-top: 60px;
    }
  }
}

#__next {
  height: 100%;
}

#map {
  height: 100%;
}

.tools-group-layer {
  position: absolute !important;
  left: 10px;
  top: 135px;
  z-index: 30 !important;
  button {
    color: aliceblue;
    background-color: #4b5159;
    width: 40px;
    text-align: center;
  }
  button:hover {
    background-color: #34373d;
    color: aliceblue;
  }
}

.tools-dashboard {
  position: absolute !important;
  left: 10px;
  top: 175px;
  z-index: 30 !important;
  button {
    color: aliceblue;
    background-color: #4b5159;
    width: 40px;
    text-align: center;
  }
  button:hover {
    background-color: #34373d;
    color: aliceblue;
  }
}

.map-info-area {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 2;
  text-align: center;
  .map-info-detail {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    display: inline-block;
    padding: 0px 10px;
    span {
      min-width: 310px;
      text-align: left;
      display: inline-block;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  #config-map-cog {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1000deg);
  }
}

.tools-map-cog {
  position: absolute !important;
  right: -17px;
  width: 50px;
  background: linear-gradient(45deg, #e638e7, #6f33c9da, #2016d4c7);
  // background: -webkit-linear-gradient(left, red , blue);
  cursor: pointer;
  top: 125px;
  color: aliceblue;
  padding: 7px;
  border-radius: 16px;
  z-index: 30 !important;
}

.tools-map-area {
  position: absolute !important;
  right: 5px;
  top: 170px;
  color: aliceblue;
  padding: 10px;
  border-radius: 15px;
  z-index: 30 !important;
  button {
    color: aliceblue;
    background-color: #4b5159;
    width: 40px;
    text-align: center;
  }
  button:hover {
    background-color: #34373d;
    color: aliceblue;
  }
}

.tools-map-area2 {
  position: absolute !important;
  right: 5px;
  top: 430px;
  color: aliceblue;
  padding: 10px;
  border-radius: 15px;
  z-index: 30 !important;
  button {
    color: aliceblue;
    background-color: #4b5159;
    width: 40px;
    text-align: center;
  }
  button:hover {
    background-color: #34373d;
    color: aliceblue;
  }
}

.tools-map-area3 {
  position: absolute !important;
  left: 5px;
  bottom: 15px;
  color: alicredeblue;
  padding: 10px;
  border-radius: 15px;
  z-index: 30 !important;
  button {
    color: aliceblue;
    background-color: white;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
  }
  div {
    float: right;
    margin-left: 10px;
    padding: 10px;
    width: 250px;
    height: 95px;
    border-radius: 10px;
    background-color: white;
    button {
      width: 60px;
      height: 60px;
      border-radius: 10px;
    }
    button:hover {
      background-color: rgb(0, 102, 255);
    }
  }
  button:hover {
    background-color: whitesmoke;
    color: aliceblue;
  }
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container,
#left,
#right,
.map,
.gutter {
  height: 100%;
}

#left,
#right,
.gutter {
  float: left;
  position: relative;
  overflow: hidden;
}

#map-left {
  position: absolute;
  left: 0;
  top: 0;
}

#map-right {
  position: absolute;
  right: 0;
  top: 0;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.gm-fullscreen-control {
  display: none;
}

@media only screen and (max-height: 650px) {
  .tools-map-area {
    top:100px;
  }
  .tools-map-area2 {
    top:360px;
  }
  .tools-map-cog{
    top:65px;
  }
}



@media only screen and (max-height: 573px) {
 
  .tools-map-area {
    right: 50px;
    top: 65px;
  }
  .tools-map-area2 {
    width:100px;
    right: 10px;
    top: 325px;
  }
}

@media only screen and (max-height: 375px) {
  .tools-map-area {
    display: none;
  }
  .tools-map-area2 {
    display: none;
  }
  .tools-map-cog{
    display: none;
  }
}
@media only screen and (max-height: 370px) {
  .tools-map-area3 {
    display: none;
  }
}

@media only screen and(max-width:1366px){
  .map-info-area {
    display: none;
  }
}



@media only screen and(max-width:375px){
  .tools-map-area3 {
    button{
      img{
        width: 40px;
        height: 40px;
      }
      padding: 0;
    }

  }
  .tools-map-area3 div{
    width: 185px;;
    height: 80px;
  }
  .tools-map-area3 div button {
    width: 44px;
    height:44px;
  }
  .txtChangeMap{
    display: none;
  }
}

@media only screen and(min-width:411px){
  .tools-map-area3 div{
    width: 230px;;
    height: 95px;
  }
}

.NameHighlights {
  position:relative;
}

.NameHighlights #changeMap {
  display: none;
}

.NameHighlightsHover {
  position:relative;
}


.NameHighlightsHover #changeMap {
  display:block;
}
.flex_point{
  background-color: #DDD;
    border:1px black solid;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    position:absolute;
    left:58px;
    top:-15em;
    width: 16em;
    height: 16em;
    overflow: auto;
    flex-wrap: wrap;
    z-index: 10;
    .item{
      display: block;
      box-sizing: border-box;
      width: 33.33%;
      padding-left: 2px;
      padding-right: 2px;
      cursor: pointer;
    }
}

.flex_point>div>div{
  img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  p{
    text-align: center;
  }
}

.dropdownDefaultPoint{
  position: relative;
  width: 62px;
  height: 26;
}
.flexbox{
  display: none;
}
.dropdownDefaultPoint:hover .flex_point{
  display: flex;
}